.container {
  display: flex;
  flex-direction: column;
  .alert {
    display: flex;
    flex-wrap: wrap;
  }
  .alert-history {
    width: 100%;
    display: flex;
    flexdirection: row;
    flexwrap: wrap;
    height: 200px;
    overflowy: scroll;
  }
}
